.footer {
    display: flex;
    width: 100vw;
    height: 490px;
    background: #000;
    margin-top: 247px;
    padding: 72px 113px 34px 97px;
}

.footer-links {
    display: flex;
    margin-right: 330px;
}

.footer-links>div {
    margin-right: 80px;
}

.footer-links>div>h4 {
    margin-bottom: 16px;
}

.footer-links>div>h4>a {
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
}

.payment-options {
    width: 293px;
    height: 66px;
    margin-top: 80px;
}

/* newsletter */

.newsletter {
    display: flex;
    flex-direction: column;
}

.newsletter>h3 {
    color: #FFF;
    font-size: 14px;
}

.newsletter>input {
    width: 240px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #FFF;
    background: #000;
    margin: 14px 0;
}

.newsletter>input::placeholder {
    color: #FFF;
    font-size: 10px;
    padding-left: 10px;
}

.newsletter>button {
    width: 63px;
    height: 18px;
    border-radius: 2px;
    background: #D6D6D6;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* socials */

.socials>h3 {
    color: #FFF;
    font-size: 14px;
    margin: 105px 0 12px;
}